body {
    text-align: center;
    font-family: Calibri;
}

.centered-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.centered-content {
    max-width: 600px;
    width: 100%;
    text-align: left;
}

.nav-list {
    list-style-type: none;
    display: inline;
}

.nav-list > li {
    display: inline-block;
    font-size: 20px;
    margin-right: 20px;
}

.nav-link {
    color: black;
    text-decoration: none;
    font-weight:lighter;
}

.nav-link-active {
    font-weight: bold;
    color: black;
    text-decoration: underline;
}

.bolder {
    font-weight: bolder;
}

.image-container img {
    height: auto;
    display: block;
    max-width: 100px;
    border-radius: 50%;
    align-self: center;
}

.header-content {
    margin-right: 20px;
    line-height: .2;
    flex-grow: 1;
}

.header-content > h2 {
    font-weight: lighter;
}

.header-container{
    padding: 20px;
}

.link {
    text-decoration: none;
}

.links-container {
    margin-top: 10px;
}

a:hover {
    text-decoration: underline;
}

.work-experience h3, .work-experience h4, .work-experience p {
    margin: 0;
    padding: 0;
}