body {
    text-align: center;
    font-family: Calibri;
}

p {
    color: #505050;
    font-size: large;
}

.centered-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.centered-content {
    max-width: 800px;
    width: 100%;
    text-align: left;
}

.nav-list {
    list-style-type: none;
    display: inline;
}

.nav-list li {
    display: inline-block;
    font-size: 20px;
    margin-right: 20px;
}

.nav-link {
    color: black;
    text-decoration: none;
    font-weight:lighter;
}

.nav-link-active {
    font-weight: bold;
    color: black;
    text-decoration: underline;
}

.image-container img {
    height: auto;
    display: block;
    max-width: 100px;
    border-radius: 50%;
    align-self: center;
}

.header-content{
    line-height: .2;
}

.header-content h2 {
    font-weight: lighter; 
}

.header-container{
    padding: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1);
    border-radius: 50px;
    background-color: white;
    max-width: 800px;
    width: 100%;
    margin: 20px auto;
}

.link {
    text-decoration: none;
}

.links-container {
    margin-top: 10px;
}

a:hover {
    text-decoration: underline;
}


.sub-category h3, .sub-category h4, .sub-category h5, .sub-category p{
    margin: 0;
    padding: 0;
}