body {
    text-align: center;
    font-family: Calibri;
}

.description {
    font-size:larger;
}

.nav-list {
    list-style-type: none;
    display: inline;
}

.nav-list > li {
    display: inline-block;
    font-size: 30px;
    margin-right: 20px;
}

.nav-link {
    color: black;
    text-decoration: none;
    font-weight:lighter;
}

.nav-link-active {
    font-weight: bold;
    color: black;
    text-decoration: underline;
}

.bolder {
    font-weight: bolder;
}

.header-container{
    padding: 20px;
}

.header {
    margin: 0;
    padding: 0;
    line-height: .2;
  }

.header h1 {
    color: black;
}
.header h2 {
    color: gray;
    font-weight: 500;
}
.header p {
    color:gray;
}

a:link {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}